@use "../scss/variables.scss" as colors;

.grid {
  background-color: colors.$background-dark;
  min-height: 50vh;
  border-radius: 2rem;
  display: grid;
  padding: 2rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-bottom: 30px;
  & > * {
    width: 100%;
   
  }
}

@media screen and (width <= 768px) {
  .grid {
    justify-content: center;
    background-color: colors.$grid-background-light;
    padding: 0;
   
    
  }
}
